#aboutPE{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aboutPE div{
    display:flex;
    justify-content:space-between;
}
#aboutPE div > *{
    width: 50%;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
#aboutPE div p{
    padding: 30px;
    font-family: 'Lato';
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 3%;
}
@media (max-width: 1000px){
    #aboutPE div{
        align-items: center;
        flex-direction: column;
    }
    #aboutPE div > *{
        width:90%;
        padding: 1%;
        margin-left: 0;
        margin-right: 0;
    }
    #aboutPE div img{
        padding: 0;
    }
    #aboutPE div p{
        padding: 1%;
    }
}