#services{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 60px;
}
#serviceSection{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.serviceBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    margin: 0px 10px;
}
.serviceBlock img{
    width: 100%;
}