#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}
#about > *{
    display: flex;

    justify-content: space-between;
    margin-bottom: 50px;
}
.aboutBox{
    width: 52%;
    border-radius: 25px;
    gap: 25px;
    padding: 56px 32px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
h2{
    margin-top: 75px;
}
p{
    font-size: 22px;
    line-height: 3rem;
    text-indent: 40px;
}
#about img{
    width: 40%;
    height: auto;
}
@media (max-width: 1140px){
    #about div{
        flex-direction: column;
        align-items: center;
    }
    #about div div{
        width: 90%;
    }
    #about img{
        width: 100%;
    }
}