.navbar{
    display:flex;
    width:100%;
    background-color: #8359E3;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: -1px;
    position: sticky;
    top: 0;
    z-index: 3;
}
a{
    color: white;
    font-size: 24px;
}
.leftSide{
    width: 40%;
    padding-left: 100px;
}
.leftSide a{
    width: 100%;
}
.rightSide{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    flex-wrap:nowrap;
    width: 60%;
    padding-right: 100px;
}
.rightSide a{
    border: 1px solid transparent;
    font-size: 20px;
    padding: 5px 10px;
    /* margin: 0px 30px; */
}
.rightSide a:hover{
    border-bottom: 1px solid white;
}
a{
    text-decoration: none;
}