.navbar{
    display:flex;
    width:100%;
    background-color: #8359E3;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: -1px;
    position: sticky;
    top: 0;
    z-index: 3;
}
a{
    color: white;
    font-size: 24px;
}
.leftSide{
    display: flex;
    text-align: center;
    width: 40%;
    padding-left: 100px;
}
.leftSide a{
    width: 100%;
}
.navbar-nav{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    flex-wrap:nowrap;
    width: 60%;
    padding-right: 100px;
}
.navbar-nav a{
    border: 1px solid transparent;
    font-size: 20px;
    padding: 5px 10px;
}
.navbar-nav a:hover{
    border-bottom: 1px solid white;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.dropdown{
    position: absolute;
    top: 70px;
    width:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-10%);
    background-color: #8359E3;
    border-radius: 25px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.dropdown.two{
    top: 90px;
    transform: translateX(-30%);
}
.menu-item{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
@media (max-width: 1050px){
    .leftSide{
        padding-left: 2%;
    }
    .navbar-nav{
        padding-right: 2%;
    }
}
@media (max-width: 975px){
    .leftSide{
        padding-left: 1%;
    }
    .navbar-nav{
        padding-right: 1%;
    }
}
@media (max-width: 866px){
    .leftSide{
        width: 100%;
        justify-content: center;
    }
    .nav-link{
        display: none;
    }
    svg a {
        display: block;
    }
    .navbar-nav{
        padding: 0;
    }
}