@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(./fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato-Italic';
    src: url(./fonts/Lato/Lato-Italic.ttf);
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
    margin-bottom: 32px;
    color: #8359E3;
    font-family: 'Lato';
    text-align: center;
}
p{
    font-size: 22px;
}
.button{
    border-radius: 25px;
    width: 60%;
    height: 75px;
    background-color: white;
    color: #8359E3;
    font-size: 20px;
    font-family: 'Lato';
    border: none;
    letter-spacing: 0.09em;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button.two{
    width: 58%;
    height: 60px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-style:italic;
    letter-spacing: 0.01em;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
}
.button.three{
    height: 100px;
    background-color: #8359E3;
    color: white;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
    margin-top: 13px;
}
@media (max-width: 975px){

    .section.one{
        flex-direction: column;
        height: 100%;
    }
    .section.one > *{
        width: 100%;
    }
    .header.right{
        min-height: 600px;
        height: 100%;
    }
    .square{
        height: 80%;
    }
    .testimonials{
        align-items: center;
        flex-direction: column;
    }
    .testimonials > *{
        margin-bottom: 20px;
    }
    .button{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .button.two{
        width: 50%;
    }
}
@media (max-width: 520px){
    .header.right{
        min-height: 450px;
    }
    footer{
        padding: 10px 0px;
        padding-left: 0;
        padding-right: 0;
    }
    footer > *{
        margin: 0;
        width: 100%;
    }
    .button.two{
        width: 80%;
    }
}
@media (max-width: 375px){
    .header.right{
        min-height: 300px;
    }
    .block{
        flex-direction: column;
    }
    footer{
        padding: 10px 0;
        flex-direction: column;
        height: 100%;
    }
    footer > *{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .button.two{
        width: 100%;
    }
}
@media (max-width: 230px){
    body{
        word-break:break-all;
    }
}