@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(./fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato-Italic';
    src: url(./fonts/Lato/Lato-Italic.ttf);
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
    margin-bottom: 32px;
    color: #8359E3;
    font-family: 'Lato';
    text-align: center;
}
p{
    font-size: 22px;
}
.button{
    border-radius: 25px;
    width: 60%;
    height: 75px;
    background-color: white;
    color: #8359E3;
    font-size: 20px;
    font-family: 'Lato';
    border: none;
    letter-spacing: 0.09em;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.4s;
}
.button:hover{
    box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.5);
}
.button.two{
    width: 58%;
    height: 60px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-style:italic;
    letter-spacing: 0.01em;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
}
.button.two:hover{
    box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.5);
}
.button.three{
    height: 100px;
    border: 1px solid #8359E3;
    background-color: #8359E3;
    color: white;
    background-image: linear-gradient(to left, transparent 50%, white 50%);
    background-size: 201%;
    background-position: 100%;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
    margin-top: 13px;
    margin-bottom: 100px;
}
.button.three:hover{
    color: #8359E3;
    background-position: 0%;
    box-shadow: 0px 0px 14px rgba(255, 255, 255, 0.5);
}